/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
.deps
.dirstamp
/entwatch
/entbuff
/install-sh
Makefile
Makefile.in
/missing
*.o
stamp-h1
src/entwatch
src/entbuff
/description-pak
/doc-pak/
*.deb

